.usuarios-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: #f9fafc;
  min-height: 100vh;
}

.usuarios-card {
  background: #ffffff;
  border-left: 5px solid #d4af37;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(34, 45, 91, 0.15);
  padding: 1.5rem;
}

.titulo {
  color: #d4af37;
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

.formulario {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 1rem;

}

.campo {
  width: 100%;
}

.botoes {
  grid-column: 1 / -1;
  text-align: right;
}

button[color="primary"] {
  background-color: #d4af37;
  color: white;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
}

.usuarios-lista {
  background: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  box-shadow: 0 4px 15px rgba(34, 45, 91, 0.15);
   border-left: 5px solid #d4af37;
}

table {
  width: 100%;
}

th {
  background-color: #d4af37;
  color: white;
  font-weight: 500;
}

td {
  color: #333;
}

mat-icon {
  color: #d32f2f;
}
h3{
  color: #d4af37;
  margin-bottom: 20px;
}
