.aluno-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-left: 5px solid #d4af37;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.full-width-table {
  width: 100%;
}

mat-slide-toggle {
  font-weight: 500;
}
h2 {
  color: #d4af37;
}
button[color="primary"] {
  background-color: #d4af37;
  color: white;
  border-radius: 8px;
  padding: 0.5rem 1.5rem;
  font-weight: bold;
}
