/* ======== Container principal ======== */
.funcionario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f0f2f5;
}

/* ======== Card ======== */
.funcionario-card {
  background-color: #ffffff;
  color: #222;
  padding: 40px 48px;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-left: 5px solid #d4af37;
  width: 100%;
  max-width: 600px;
  text-align: center;
  transition: 0.3s;
}

.funcionario-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.25);
}

/* ======== Título ======== */
h2 {
  color: #d4af37;
  font-weight: bold;
  margin-bottom: 24px;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* ======== Formulário ======== */
.funcionario-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  width: 100%;
}

/* ======== Campos ======== */
mat-form-field {
  width: 100%;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #d4af37 !important;
  opacity: 0.5;
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick {
  color: #d4af37 !important;
}

.mat-form-field-flex {
  background-color: #f7f7f9 !important;
  border-radius: 6px !important;
}

.mat-input-element {
  color: #222 !important;
  font-weight: 500;
}

.mat-form-field-label {
  color: #555 !important;
  font-weight: 500;
}

/* ======== Checkbox ======== */
mat-checkbox {
  align-self: flex-start;
  color: #222;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #d4af37 !important;
}

/* ======== Botão ======== */
button[color="primary"] {
  background-color: #d4af37;
  color: #1E1E2F;
  border-radius: 8px;
  padding: 0.75rem 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
  border: none;
  margin-top: 12px;
   color: #ffffff;
}

button[color="primary"]:hover {
  background-color: #c09c2e;
  transform: scale(1.03);
}
