.funcionario-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 2rem;
}

.funcionario-card {
  background-color: #ffffff;
  padding: 32px 48px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-left: 5px solid #d4af37;
  width: 100%;
  max-width: 600px;
  text-align: center;
}

h2 {
  color: #d4af37;
  font-weight: bold;
  margin-bottom: 24px;
}

.funcionario-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.full-width {
  width: 100%;
}

mat-checkbox {
  align-self: flex-start;
}

button[color="primary"] {
  background-color: #d4af37;
  color: white;
  border-radius: 8px;
  padding: 0.75rem 2rem;
  font-weight: bold;

  transition: 0.2s;

  margin-top: 8px;
}

button[color="primary"]:hover {
  background-color: #c09c2e;
}
