<div class="login-container">
  <div class="background-overlay"></div>

  <div class="login-card">
    <div class="logo-area">
      <img src="logo-dark.svg" alt="Logo SmartFit" class="logo-image" />
      <h2 class="login-title">Painel de Controle - Academia</h2>
    </div>

    <form (ngSubmit)="login()" autocomplete="off">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Usuário</mat-label>
        <input matInput [(ngModel)]="username" name="username"/>
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Senha</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          [(ngModel)]="password"
          name="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Ocultar senha'"
        >
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <button
        mat-raised-button
        class="login-button"
        [disabled]="isLoading"
        type="submit"
      >
        <span *ngIf="!isLoading">Entrar</span>
        <mat-spinner *ngIf="isLoading" diameter="28"></mat-spinner>
      </button>

      <p class="forgot-text">Esqueceu sua senha?</p>
    </form>
  </div>
</div>
