.login-container {
  background-color: #111111;
  display: flex;
  align-items: center;
  justify-content: center;

}
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.login-card {
  /* background-color: rgba(255, 255, 255, 0.7); */
  max-width: 100vw;

  padding: 25px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
  border: 1px solid transparent;
  transition: border 0.3s;

}
.mat-form-field {
  margin-bottom: 10px;
  border: none;
}
.mat-form-field:hover {
  background-color: #f5f5f5;
}

.full-width {
  width: 100%;
  margin-bottom: 15px;
  background-color: transparent;
  border: 0;
}

.logo-image {
  width: 338px;
  height: 85px;
  height: auto;
  margin: 15px;
}

.login-button {
  width: 100%;
  background-color: #1C1C1C!important;
  height: 56px;
}

.login-button button:hover {
  background-color: #F7C325 !important;
}
.css-9826r4 {
  background-image: linear-gradient(to right, #1c1c1c, #F7C325);
  color           : transparent;
  background-clip : text;
}
.text {
  font-weight: bold;
  font-family: 'Apple System', sans-serif;
  color:#1c1c1c!important;
  font-size: 16px;
  line-height: 1.5;
}

.text_paragrafo {
  font-family: 'Apple System', sans-serif;
  color: #F7C325!important;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 100;
}

.spinner {
  display         : flex;
  align-items     : center;
  justify-content : center;
  height          : 100vh;
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index         : 1000;
}

