<p-toast class="custom-toast"></p-toast>

<ng-container *ngIf="!isLoginPage">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav class="sidenav" mode="side" opened>
      <div class="logo">
        <img class="logo-image" src="logo-dark.svg" alt="logo da empresa" />
      </div>

      <!-- Início -->
      <a mat-list-item routerLink="/home" routerLinkActive="active" class="menu-item">
        <mat-icon>dashboard</mat-icon>
        <span>Início</span>
      </a>

      <mat-nav-list>
        <!-- Alunos -->
        <a mat-list-item routerLink="/alunos" routerLinkActive="active" class="menu-item">
          <mat-icon>fitness_center</mat-icon>
          <span>Alunos</span>
        </a>

        <!-- Cadastrar Aluno -->
        <a mat-list-item routerLink="/cadastrar-alunos" routerLinkActive="active" class="menu-item">
          <mat-icon>person_add</mat-icon>
          <span>Cadastrar Aluno</span>
        </a>

        <!-- Funcionários -->
        <a mat-list-item routerLink="/funcionarios" routerLinkActive="active" class="menu-item">
          <mat-icon>groups</mat-icon>
          <span>Funcionários</span>
        </a>

        <!-- Cadastrar Funcionário -->
        <a mat-list-item routerLink="/cadastrar-funcionarios" routerLinkActive="active" class="menu-item">
          <mat-icon>badge</mat-icon>
          <span>Cadastrar Funcionário</span>
        </a>

        <!-- Usuários -->
        <a mat-list-item routerLink="/usuarios" routerLinkActive="active" class="menu-item">
          <mat-icon>manage_accounts</mat-icon>
          <span>Usuários</span>
        </a>

        <!-- Logs / Histórico -->
        <a mat-list-item routerLink="/logs" routerLinkActive="active" class="menu-item">
          <mat-icon>history</mat-icon>
          <span>Logs do Sistema</span>
        </a>
      </mat-nav-list>
    </mat-sidenav>

    <!-- CONTEÚDO PRINCIPAL -->
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="topbar">
        <button mat-icon-button (click)="sidenav.toggle()" class="menu-button" aria-label="Toggle menu">
          <mat-icon>menu</mat-icon>
        </button>

        <span class="topbar-title">Painel de Controle - Academia</span>
        <span class="spacer"></span>

        <!-- Menu do usuário -->
        <button mat-button [matMenuTriggerFor]="userMenu" style="color: #D4AF37">
          <mat-icon>account_circle</mat-icon>
          <span class="username">Patricia</span>
        </button>

        <mat-menu #userMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Perfil</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
      </mat-toolbar>

      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<!-- LOGIN -->
<ng-container *ngIf="isLoginPage">
  <div class="login-container">
    <router-outlet></router-outlet>
  </div>
</ng-container>
