.container {
  width     : 100%;
  padding   : 20px;
  margin    : 0 auto;
  text-align: center;
  padding-top: 120px;
}

.header-container {
  margin-bottom: 20px;
}

.condominios-title {
  font-size  : 24px;
  font-weight: bold;
}

.content-container {
  display        : flex;
  justify-content: center;
  gap            : 20px;
}

.condominios-title {
  font-weight: 900;
  font-size  : 36px;
  color      : #1c1c1c;
}

.resumo {
  font-weight: 700;
  font-size  : 16px;
  color      : #1c1c1c;
}

.sub-titulo {
  font-weight: 500;
  font-size  : 16px;
  color      : #222d5b78;
  line-height: 1.5;
}

.card {
  display         : flex;
  justify-content : center;
  align-items     : center;
  width           : 300px;
  height          : 125px;
  box-shadow      : 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #F7C325;
  color           : var(--color-white);
  font-weight     : bold;
  font-size       : 18px;
  border-radius   : 8px;
  transition      : transform 0.3s ease;
  cursor          : pointer;
}

.card-inside {
  width          : 90%;
  height         : 90%;
  display        : flex;
  flex-direction : column;
  justify-content: space-around;
  align-items    : flex-start;
}

.text-icon {
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  width          : 90%;
}

.button-container {
  padding         : 5px 10px;
  border-radius   : 6px;
  margin          : 0;
  background-color: var(--color-white);
  border          : none;
}

.button-container:hover,
.button-container:active {
  background-color: var(--color-grey);
  color           : var(--color-btn-text);
}

.spinner {
  display         : flex;
  align-items     : center;
  justify-content : center;
  height          : 100vh;
  position        : fixed;
  top             : 0;
  left            : 0;
  right           : 0;
  bottom          : 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index         : 1000;
}

.card.clientes {
  background-color: #1c1c1c;
}

.card.notas {
  background-color: #F7C325;
}
