/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-background: #fffdf7;
  --color-white: #ffffff;
  --color-grey: #e2e2e2;
  --color-black: #212121;
  --color-text: #4f4f4f;
  --color-btn: #006414;
  --color-btn-text: #1c1c1c;
  --color-btn-text-hover: #2b47b6;
  --box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/* Conteúdo existente do styles.css (temas, etc.) */

/* --- CORREÇÃO DE LOGIN INVISÍVEL --- */

/* 1. Força a cor do texto digitado */
input.mat-input-element {
  color: #fff !important;
  caret-color: #f7c325 !important;
}

/* 2. Força a cor no Autocompletar/Autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #1b1b1b inset !important;
  -webkit-text-fill-color: #fff !important;
}
/* Coloque isso no seu arquivo GLOBAL (styles.css ou styles.scss) */

/* Força a cor do texto do input quando ele está dentro do componente de login */
app-login .mat-input-element {
    color: #fff !important;
    caret-color: #f7c325 !important;
}

/* Força a cor do texto do input no Autocompletar quando ele está dentro do componente de login */
app-login input:-webkit-autofill,
app-login input:-webkit-autofill:hover,
app-login input:-webkit-autofill:focus,
app-login input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #1b1b1b inset !important;
    -webkit-text-fill-color: #fff !important;
}
