.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  height: 100px;
  box-shadow: var(--box-shadow);
  cursor: pointer;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  z-index: 1000;

}

.menu .version {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--color-text);
}

.menu .logo {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.menu .logo .buttons {
  width: 100%;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: var(--color-btn-text);
  margin-right: 80px;
}

button:hover,
button:active {
  color: #F7C325 !important;
}

.logo-image {
  height: 80%;
  margin-right: 100px;
}

.menu .user {
  flex: 1;
}

.menu .user p {
  margin-bottom: 10px;
  font-weight: bold;
  color: var(--color-text);
}

.menu .user p:last-child {
  margin-bottom: 0px;
}
